@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.App {
  min-height: 100vh;
  background-image: linear-gradient(
    to right,
    #eea2a2 0%,
    #bbc1bf 19%,
    #57c6e1 42%,
    #b49fda 79%,
    #7ac5d8 100%
  );
}
.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px !important;
}
.search-bar {
  width: 40%;
  border: none;
  padding: 10px;
  border-radius: 1%;
}
.search-button {
  background: lightseagreen;
  border: none;
  padding: 10px 20px;
  color: white;
  margin-left: 10px;
  border-radius: 6%;
  text-transform: uppercase;
}
.search-button:hover {
  background: rgb(34, 155, 148);
}
.search-button:active {
  transform: scale(0.98);
  box-shadow: 3px 2px 22px 1px rgba(16, 102, 109, 0.24);
}
.recipes {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.search-bar::-webkit-input-placeholder {
  font-family: FontAwesome;
  font-weight: normal;
  overflow: visible;
  vertical-align: top;
  display: inline-block !important;
  padding-left: 5px;
  padding-top: 2px;
  color: lightseagreen;
}
